---
settings:
{% for setting in item.1.add_vic_adapter_configuration %}
  - dce_interface_1_fec_mode: "{{ setting.dce_interface_settings.dce_interface_1_fec_mode | default('cl91') }}"
    dce_interface_2_fec_mode: "{{ setting.dce_interface_settings.dce_interface_2_fec_mode | default('cl91') }}"
    dce_interface_3_fec_mode: "{{ setting.dce_interface_settings.dce_interface_3_fec_mode | default('cl91') }}"
    dce_interface_4_fec_mode: "{{ setting.dce_interface_settings.dce_interface_4_fec_mode | default('cl91') }}"
    enable_fip: {{ false if setting.enable_physical_nic_mode | default(false) else setting.enable_fip | default(true) }}
    enable_lldp: {{ false if setting.enable_physical_nic_mode | default(false) else setting.enable_lldp | default(true) }}
    enable_port_channel: {{ false if setting.enable_physical_nic_mode | default(false) else setting.enable_port_channel | default(true) }}
    slot_id: "{{ setting.pci_slot | default('MLOM') }}"
{% endfor %}
