---
{{
  item.1
  | merge_schema_defaults(intersight_schema, 'intersight.bios')
  | to_module_params('intersight_bios_policy')
  | combine({
      'description': item.1.description | default(omit),
      'name': policy_name_prefix.bios | default(policy_name_prefix.default | default(''))
               ~ item.1.name
               ~ policy_name_suffix.bios | default(policy_name_suffix.default | default('')),
      'organization': item.0.key
    })
}}
