---
{% set _p = item.1 | merge_schema_defaults(intersight_schema, 'intersight.ethernet_adapter') %}
advanced_filter: "{{ _p.enable_advanced_filter | default(False) }}"
arfs_enabled: "{{ _p.enable_accelerated_receive_flow_steering | default(False) }}"
completion_queue_count: "{{ _p.completion.count | default(5) }}"
completion_ring_size: "{{ _p.completion.ring_size | default(1) }}"
description: "{{ item.1.description | default('') }}"
etherchannel_pinning_enabled: "{{ _p.enable_ether_channel_pinning | default(False) }}"
geneve_enabled: "{{ _p.enable_geneve_offload | default(False) }}"
interrupt_coalescing_time: "{{ _p.interrupt_settings.coalescing_time | default(125) }}"
interrupt_coalescing_type: "{{ _p.interrupt_settings.coalescing_type | default('MIN') }}"
interrupt_count: "{{ _p.interrupt_settings.nr_count | default(8) }}"
interrupt_mode: "{{ _p.interrupt_settings.mode | default('MSIx') }}"
interrupt_scaling: "{{ _p.enable_interrupt_scaling | default(False) }}"
name: "{{ policy_name_prefix.ethernet_adapter | default(policy_name_prefix.default | default('')) ~ item.1.name ~ policy_name_suffix.ethernet_adapter | default(policy_name_suffix.default | default('')) }}"
nvgre_enabled: "{{ _p.enable_nvgre_offload | default(False) }}"
organization: "{{ item.0.key }}"
ptp_enabled: "{{ _p.enable_precision_time_protocol | default(False) }}"
roce_class_of_service: "{{ _p.roce_settings.class_of_service | default(5) }}"
roce_enabled: "{{ _p.roce_settings.enabled | default(False) }}"
roce_memory_regions: "{{ _p.roce_settings.memory_regions | default(131072) }}"
roce_queue_pairs: "{{ _p.roce_settings.queue_pairs | default(256) }}"
roce_resource_groups: "{{ _p.roce_settings.resource_groups | default(2) }}"
roce_version: "{{ _p.roce_settings.nr_version | default(1) }}"
rss_enabled: "{{ _p.receive_side_scaling.enable | default(True) }}"
rss_ipv4_hash: "{{ _p.receive_side_scaling.ipv4_hash_enabled | default(True) }}"
rss_ipv6_ext_hash: "{{ _p.receive_side_scaling.ipv6_ext_hash_enabled | default(True) }}"
rss_ipv6_hash: "{{ _p.receive_side_scaling.ipv6_hash_enabled | default(False) }}"
rss_tcp_ipv4_hash: "{{ _p.receive_side_scaling.tcp_ipv4_hash_enabled | default(True) }}"
rss_tcp_ipv6_ext_hash: "{{ _p.receive_side_scaling.tcp_ipv6_ext_hash_enabled | default(True) }}"
rss_tcp_ipv6_hash: "{{ _p.receive_side_scaling.tcp_ipv6_hash_enabled | default(False) }}"
rss_udp_ipv4_hash: "{{ _p.receive_side_scaling.udp_ipv4_hash_enabled | default(False) }}"
rss_udp_ipv6_hash: "{{ _p.receive_side_scaling.udp_ipv6_hash_enabled | default(False) }}"
rx_queue_count: "{{ _p.receive.nr_count | default(4) }}"
rx_ring_size: "{{ _p.receive.ring_size | default(512) }}"
tcp_large_receive: "{{ _p.tcp_offload.enable_large_receive | default(True) }}"
tcp_large_send: "{{ _p.tcp_offload.enable_large_send | default(True) }}"
tcp_rx_checksum: "{{ _p.tcp_offload.enable_rx_checksum | default(True) }}"
tcp_tx_checksum: "{{ _p.tcp_offload.enable_tx_checksum | default(True) }}"
tx_queue_count: "{{ _p.transmit.nr_count | default(1) }}"
tx_ring_size: "{{ _p.transmit.ring_size | default(256) }}"
uplink_failback_timeout: "{{ _p.uplink_failback_timeout | default(5) }}"
vxlan_enabled: "{{ _p.enable_vxlan_offload | default(False) }}"
