---
{% set _p = item.1 | merge_schema_defaults(intersight_schema, 'intersight.fibre_channel_adapter') %}
description: "{{ item.1.description | default(omit) }}"
error_detection_timeout: "{{ _p.error_detection_timeout | default(2000) }}"
error_recovery_enabled: "{{ _p.error_recovery_enabled | default(False) }}"
flogi_retries: "{{ _p.flogi_retries | default(8) }}"
flogi_timeout: "{{ _p.flogi_timeout | default(4000) }}"
interrupt_mode: "{{ _p.interrupt_mode | default('MSIx') }}"
io_throttle_count: "{{ _p.io_throttle_count | default(512) }}"
link_down_timeout: "{{ _p.link_down_timeout | default(30000) }}"
lun_count: "{{ _p.maximum_luns_per_target | default(1024) }}"
lun_queue_depth: "{{ _p.lun_queue_depth | default(20) }}"
name: "{{ policy_name_prefix.fibre_channel_adapter | default(policy_name_prefix.default | default('')) ~ item.1.name ~ policy_name_suffix.fibre_channel_adapter | default(policy_name_suffix.default | default('')) }}"
organization: "{{ item.0.key }}"
plogi_retries: "{{ _p.plogi_retries | default(8) }}"
plogi_timeout: "{{ _p.plogi_timeout | default(20000) }}"
port_down_io_retry_count: "{{ _p.port_down_io_retry_count | default(8) }}"
port_down_timeout: "{{ _p.port_down_timeout | default(10000) }}"
resource_allocation_timeout: "{{ _p.resource_allocation_timeout | default(10000) }}"
rx_ring_size: "{{ _p.rx_ring_size | default(64) }}"
scsi_io_queue_count: "{{ _p.scsi_io_queue_count | default(1) }}"
scsi_io_ring_size: "{{ _p.scsi_io_ring_size | default(512) }}"
tx_ring_size: "{{ _p.tx_ring_size | default(64) }}"
