---
description: "{{ item.1.description | default('') }}"
initiator_ip_source: "{{ item.1.initiator_ip_source | default('dhcp') | lower }}"
{% if item.1.initiator_ip_pool is defined %}
initiator_ip_pool_name: "{{ item.1.initiator_ip_pool }}"
{% endif %}
{% if item.1.iscsi_adapter_policy is defined %}
iscsi_adapter_policy_name: "{{ item.1.iscsi_adapter_policy }}"
{% endif %}
name: "{{ policy_name_prefix.iscsi_boot | default(policy_name_prefix.default | default('')) ~ item.1.name ~ policy_name_suffix.iscsi_boot | default(policy_name_suffix.default | default('')) }}"
organization: "{{ item.0.key }}"
{% if item.1.primary_target_policy is defined %}
primary_target_policy_name: "{{ item.1.primary_target_policy }}"
{% endif %}
{% if item.1.secondary_target_policy is defined %}
secondary_target_policy_name: "{{ item.1.secondary_target_policy }}"
{% endif %}
target_source_type: "{{ item.1.target_source_type | default('static') | lower }}"
{% if item.1.dhcp_vendor_id_iqn is defined %}
auto_targetvendor_name: "{{ item.1.dhcp_vendor_id_iqn }}"
{% endif %}
