---
description: "{{ item.1.description | default('') }}"
fan_control_mode: "{{ item.1.fan_control_mode | default('Balanced') }}"
name: "{{ policy_name_prefix.thermal | default(policy_name_prefix.default | default('')) ~ item.1.name ~ policy_name_suffix.thermal | default(policy_name_suffix.default | default('')) }}"
organization: "{{ item.0.key }}"
