apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ansible-automation-platform
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: '{{ argocd.gitops_repo_url }}'
    targetRevision: HEAD
    path: olm-catalog/ansible-automation-platform
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: aap
  syncPolicy:
    automated:
      prune: {{ argocd.prune }}
      selfHeal: {{ argocd.self_heal }}
    syncOptions:
      - CreateNamespace=true
      - SkipDryRunOnMissingResource=true # Important: The HyperConverged CRD won't exist during the first dry-run