apiVersion: aap.ansible.com/v1alpha1
kind: AnsibleAutomationPlatform
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "15"
  name: ansible
  namespace: aap
spec:
  api:
    log_level: INFO
    replicas: 1
  controller:
    disabled: false
  database:
    postgres_data_volume_init: false
    idle_disabled: false
  hub:
    disabled: false
    file_storage_size: 100Gi
    file_storage_storage_class: {{ openshift.file_storage_class }}
    storage_type: file
  image_pull_policy: IfNotPresent
  no_log: true
  redis_mode: standalone
  route_tls_termination_mechanism: Edge