apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets-operator
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: '{{ argocd.gitops_repo_url }}'
    targetRevision: HEAD
    path: olm-catalog/external-secrets-operator
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: external-secrets-operator
  syncPolicy:
    automated:
      prune: {{ argocd.prune }}
      selfHeal: {{ argocd.self_heal }}
    syncOptions:
      - CreateNamespace=true