kind: MacvlanNetwork
apiVersion: mellanox.com/v1alpha1
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "15" # Ensures this is applied AFTER the operator is ready
  name: rdma-shared-net1
spec:
  ipam: |
    {
      "type": "whereabouts",
      "range": "{{ item.ip_range }}",
{% for exclude_ip in item.exclude_ips %}
      "exclude": [
        "{{ exclude_ip }}"{% if not loop.last %},{% endif %}
      ]
{% endfor %}
    }
  master: {{ item.master_interface }}
  mode: bridge
  mtu: 9000
  networkNamespace: default
