apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: node-feature-discovery-operator
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: '{{ openshift.operators.openshift_gitops.gitops_repo_url }}'
    targetRevision: HEAD
    path: olm-catalog/node-feature-discovery-operator
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: openshift-nfd
  syncPolicy:
    automated:
      prune: {{ openshift.operators.openshift_gitops.prune | default('false') }}
      selfHeal: {{ openshift.operators.openshift_gitops.self_heal | default('false') }}
    syncOptions:
      - CreateNamespace=true
      - SkipDryRunOnMissingResource=true # Important: The NFD CRD won't exist during the first dry-run