apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workload-scaling-operators
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  destination:
    name: in-cluster
    namespace: openshift-gitops
  source:
    path: helm/workload-scaling/
    repoURL: '{{ openshift.operators.openshift_gitops.gitops_repo_url }}'
    targetRevision: main
  project: default
  syncPolicy:
    automated:
      prune: {{ openshift.operators.openshift_gitops.prune | default('false') }}
      selfHeal: {{ openshift.operators.openshift_gitops.self_heal | default('false') }}
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true
      - SkipDryRunOnMissingResource=true
      - RespectIgnoreDifferences=true
    managedNamespaceMetadata:
      labels:
        argocd.argoproj.io/managed-by: openshift-gitops
