apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
    - name: ActiveDirectory
      mappingMethod: claim
      type: LDAP
      ldap:
        attributes:
          email: [mail]
          id: [sAMAccountName]
          name: [cn]
          preferredUsername: [sAMAccountName]
        bindDN: "{{ openshift.ldap.bind_dn }}"
        bindPassword:
          name: ldap-bind-password # Name of a secret containing the bind password
{% if openshift.ldap.secure_ldap %}
        ca:
          name: ldap-ca-cert
        insecure: false
{% else %}
        insecure: true
{% endif %}
        url: "{{ openshift.ldap.url }}"
