kind: LDAPSyncConfig
apiVersion: v1
url: {{ ldap.sync_url }}
bindDN: {{ ldap.bind_dn }}
bindPassword: {{ ldap_bind_password }}
{% if ldap.secure_ldap %}
insecure: false
ca: /ldap-sync/ca.crt
{% else %}
insecure: true
{% endif %}
groupUIDNameMapping:
{% for k,v in ldap.group_uid_mappings.items() %}
  "{{ k }}": {{ v }}
{% endfor %}
augmentedActiveDirectory:
    groupsQuery:
        derefAliases: never
        pageSize: 0
    groupUIDAttribute: dn
    groupNameAttributes: [ cn ]
    usersQuery:
        baseDN: {{ ldap.base_dn }}
        derefAliases: never
        filter: (objectclass=person)
        pageSize: 0
        scope: sub
        timeout: 0
    userNameAttributes: [ sAMAccountName ]
    groupMembershipAttributes: [ "memberOf:1.2.840.113556.1.4.1941:" ]