apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
   labels:
     machineconfiguration.openshift.io/role: worker
   name: 99-machine-config-udev-network
spec:
   config:
     ignition:
       version: 3.4.0
     storage:
       files:
       - contents:
           source: data:text/plain;base64,{{ persistent_net_rules['content'] }}
         filesystem: root
         mode: 420
         path: /etc/udev/rules.d/70-persistent-net.rules
