# hgx1.example.com
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:f3:a8",ATTR{type}=="1",NAME="ens201f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:ea:8c",ATTR{type}=="1",NAME="ens202f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:f3:92",ATTR{type}=="1",NAME="ens203f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:f4:00",ATTR{type}=="1",NAME="ens204f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:f4:58",ATTR{type}=="1",NAME="ens205f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:fd:cc",ATTR{type}=="1",NAME="ens206f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:fd:74",ATTR{type}=="1",NAME="ens207f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="50:00:e6:07:f8:8e",ATTR{type}=="1",NAME="ens208f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="7c:8c:09:96:e0:52",ATTR{type}=="1",NAME="ens211f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="7c:8c:09:96:e0:53",ATTR{type}=="1",NAME="ens211f1np1"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="7C:8C:09:96:DE:B0",ATTR{type}=="1",NAME="ens214f0np0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="7C:8C:09:96:DE:B1",ATTR{type}=="1",NAME="ens214f1np1"
