---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: {{ item.name }}
  name: 99-kernel-arguments-{{ item.name }}
spec:
  kernelArguments:
    - "module_blacklist=irdma,rpcrdma"
    - nvme_core.multipath=N
