apiVersion: operator.openshift.io/v1
kind: Network
metadata:
  name: cluster
spec:
  deployKubeProxy: false
  clusterNetwork:
  - cidr: {{ openshift_install.cluster_networking.cluster_network.v4_cidr }}
    hostPrefix: {{ openshift_install.cluster_networking.cluster_network.v4_host_prefix }}
  externalIP:
    policy: {}
  networkType: Cilium
  serviceNetwork:
  - {{ openshift_install.cluster_networking.service_network.v4_cidr }}