---
apiVersion: {{ subscription_yaml.apiVersion }}
kind: Subscription
metadata:
  name: {{ subscription_yaml.metadata.name }}
  namespace: {{ subscription_yaml.metadata.namespace }}
spec:
  channel: {{ subscription_yaml.spec.channel }}
{% if openshift.operators.cilium.enable_kube_proxy_replacement | default(false) %}
  config:
    env:
      - name: KUBERNETES_SERVICE_HOST
        value: "api.{{ openshift_install.cluster_name }}.{{ openshift_install.base_dns_domain }}"
      - name: KUBERNETES_SERVICE_PORT
        value: "6443"
{% endif %}
  installPlanApproval: Manual
  name: {{ subscription_yaml.spec.name }}
  source: {{ subscription_yaml.spec.source }}
  sourceNamespace: {{ subscription_yaml.spec.sourceNamespace }}
