{
    "ip": "{{ openshift_install.iso_web_server.ip }}",
    "image_base_url": "{{ openshift_install.iso_web_server.image_base_url }}",
    "image_upload_directory": "{{ openshift_install.iso_web_server.image_upload_directory }}",
{% if openshift_install.iso_web_server.username is defined %}
    "username": "{{ openshift_install.iso_web_server.username }}",
{% if openshift_install.iso_web_server.ssh_public_key_file is defined %}
    "password": null,
    "ssh_public_key": "{{ iso_web_server_ssh_public_key }}",
{% else %}
    "password": "{{ iso_web_server_password }}",
{% endif %}
{% endif %}
{% if "https" in openshift_install.iso_web_server.image_base_url %}
    "verify": false
{% endif %}
}
