apiVersion: v1
kind: Secret
metadata:
  name: api-tls-secret
  namespace: openshift-config
type: kubernetes.io/tls
data:
  tls.crt: "{{ api_cert_chain_file['content'] }}"
  tls.key: "{{ api_key_file['content'] }}"