apiVersion: v1
kind: Secret
metadata:
  name: ingress-tls-secret
  namespace: openshift-ingress
type: kubernetes.io/tls
data:
  tls.crt: "{{ ingress_cert_chain_file_b64 }}"
  tls.key: "{{ ingress_key_file_b64 }}"