apiVersion: v1
kind: ConfigMap
metadata:
  name: cisco-exporter-config
  namespace: cisco-exporter
data:
  config.yml: |
    debug: false
    legacy_ciphers: false
    # default values
    timeout: 5
    batch_size: 10000
    devices:
{% for nexus in splunk_observability.nexus.device_list %}
      - host: {{ nexus }}
        username: {{ splunk_observability.nexus.username }}
        password: {{ nexus_device_password }}
{% endfor %}
    features:
      bgp: {{ splunk_observability.nexus.features.bgp }}
      environment: {{ splunk_observability.nexus.features.environment }}
      facts: {{ splunk_observability.nexus.features.facts }}
      interfaces: {{ splunk_observability.nexus.features.interfaces }}
      optics: {{ splunk_observability.nexus.features.optics }}
